Repository InailUfficio5/inail-ndc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ttlfmt, check-json-ld, pretty-format-json-ld, csvseparator

.pre-commit-config.yaml:

#
# Run pre-commit hooks. You can run them without installing
#  the hook with
#
# $ pre-commit run --all-files
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: check-added-large-files
        args:
        - "--maxkb=4000"
    # -   id: check-json
    #     files: '^assets\/controlled-vocabularies\/.*\.json'
    # -   id: pretty-format-json
    #     args:
    #     - "--autofix"
    #     - "--no-sort-keys"
    #     files: '^assets\/controlled-vocabularies\/.*\.json'
    # -   id: pretty-format-json-ld
    #     args:
    #     - "--autofix"
    #     - "--no-sort-keys"
    #     name: pretty format json-ld
    #     files: '^assets\/controlled-vocabularies\/.*\.jsonld'
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      name: isort (python)
      # Use black profile for isort to avoid conflicts
      #   see https://github.com/PyCQA/isort/issues/1518
      args: ["--profile", "black"]
    - id: isort
      name: isort (cython)
      types: [cython]
    - id: isort
      name: isort (pyi)
      types: [pyi]

#
# Semantic checks.
#
- repo: https://github.com/teamdigitale/json-semantic-playground
  rev: c10c5879438de0d321d6591ec88ace95e042e9d2
  hooks:
  # - id: validate-csv
  #   files: >-
  #     ^assets\/controlled-vocabularies\/.*\.csv
  - id: validate-oas-schema
    files: >-
      ^assets\/schemas\/.*.oas3.yaml
  - id: validate-turtle
    name: Validate ontologies
    files: >-
      ^assets\/ontologies\/[^\/]+\/.*\.ttl
  - id: validate-turtle
    name: Validate controlled vocabularies
    files: >-
      ^assets\/controlled-vocabularies\/.*\.ttl
  - id: validate-directory-versioning
    files: '^assets\/ontologies\/.*\.ttl'

#
# TTL Serialization.
#

- repo: local
  hooks:
  - id: ttlfmt
    name: Serialize turtle files
    entry: ttlfmt
    files: >-
      ^assets/.*\.ttl
    types:
    - file
    language: python
    additional_dependencies:
    - rdflib==6.2.0
    - ttlser==1.1.4
    - ttlser[ttlfmt]==1.1.4
  - id: check-json-ld
    name: check json-ld
    entry: python scripts/check_json.py
    files: '^assets\/controlled-vocabularies\/.*\.jsonld'
    language: python
    additional_dependencies:
    - typing
  - id: pretty-format-json-ld
    name: pretty format json-ld
    entry: python scripts/pretty_format_json.py
    args:
    - "--autofix"
    - "--no-sort-keys"
    files: '^assets\/controlled-vocabularies\/.*\.jsonld'
    language: python
    additional_dependencies:
    - typing
  - id: csvseparator
    name: Check csv separator
    entry: python scripts/fix-csv-separator.py
    files: >-
      ^assets\/controlled-vocabularies\/.*\.csv
    language: python
    additional_dependencies:
    - pandas==1.5.0
    types:
    - file

added latest version of grande grado inabilita vocabulary
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.ttl
  assets/controlled-vocabularies/grado-inabilita/v0.3/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/v0.3/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.3/grado_inabilita.ttl
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/v0.4/grado_inabilita.json
Due: csvseparator

added latest version of decisione istruttoria esito mortale vocabulary
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.3/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.3/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.3/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.4/decisione_istruttoria_esito_mortale.json
Due: csvseparator

added latest version of definizione amministrativa vocabulary
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.ttl
  assets/controlled-vocabularies/definizione-amministrativa/v0.3/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/v0.3/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.3/definizione_amministrativa.ttl
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/v0.4/definizione_amministrativa.json
Due: csvseparator

added latest version of icdx and mansione vocabularies
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.ttl
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.3/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.3/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.3/icdx.ttl
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.ttl
  assets/controlled-vocabularies/mansione/latest/mansione.ttl
  assets/controlled-vocabularies/mansione/v0.3/mansione.csv
  assets/controlled-vocabularies/mansione/v0.3/mansione.json
  assets/controlled-vocabularies/mansione/v0.3/mansione.ttl
  assets/controlled-vocabularies/mansione/v0.4/mansione.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.4/icdx.json
  assets/controlled-vocabularies/mansione/latest/mansione.csv
  assets/controlled-vocabularies/mansione/latest/mansione.json
  assets/controlled-vocabularies/mansione/v0.4/mansione.csv
  assets/controlled-vocabularies/mansione/v0.4/mansione.json
Due: csvseparator

added latest version of sede lesione and settore correlato malattia vocabularies
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.ttl
  assets/controlled-vocabularies/sede-lesione/v0.3/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/v0.3/sede_lesione.json
  assets/controlled-vocabularies/sede-lesione/v0.3/sede_lesione.ttl
  assets/controlled-vocabularies/sede-lesione/v0.4/sede_lesione.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/v0.3/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/v0.3/settore_correlato_malattia.json
  assets/controlled-vocabularies/settore-correlato-malattia/v0.3/settore_correlato_malattia.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/v0.4/settore_correlato_malattia.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.json
  assets/controlled-vocabularies/sede-lesione/v0.4/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/v0.4/sede_lesione.json
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.json
  assets/controlled-vocabularies/settore-correlato-malattia/v0.4/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/v0.4/settore_correlato_malattia.json
Due: csvseparator

added latest version of sede lesione and settore correlato malattia vocabularies
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.json
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.ttl
  assets/controlled-vocabularies/sede-lesione/v0.4/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/v0.4/sede_lesione.json
  assets/controlled-vocabularies/sede-lesione/v0.4/sede_lesione.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.json
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/v0.4/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/v0.4/settore_correlato_malattia.json
  assets/controlled-vocabularies/settore-correlato-malattia/v0.4/settore_correlato_malattia.ttl
Due: ttlfmt, csvseparator

added latest version of servizio nave and registro iscrizione nave vocabularies
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.3/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.3/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.3/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.4/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.ttl
  assets/controlled-vocabularies/servizio-nave/v0.3/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/v0.3/servizio_nave.json
  assets/controlled-vocabularies/servizio-nave/v0.3/servizio_nave.ttl
  assets/controlled-vocabularies/servizio-nave/v0.4/servizio_nave.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.4/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.4/registro_iscrizione_nave.json
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.json
  assets/controlled-vocabularies/servizio-nave/v0.4/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/v0.4/servizio_nave.json
Due: csvseparator

added latest version of servizio nave and registro iscrizione nave vocabularies
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.4/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.4/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.4/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.json
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.ttl
  assets/controlled-vocabularies/servizio-nave/v0.4/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/v0.4/servizio_nave.json
  assets/controlled-vocabularies/servizio-nave/v0.4/servizio_nave.ttl
Due: ttlfmt, csvseparator

added latest version of specie navigazione vocabulary
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.ttl
  assets/controlled-vocabularies/specie-navigazione/v0.3/specie_navigazione.csv
  assets/controlled-vocabularies/specie-navigazione/v0.3/specie_navigazione.json
  assets/controlled-vocabularies/specie-navigazione/v0.3/specie_navigazione.ttl
  assets/controlled-vocabularies/specie-navigazione/v0.4/specie_navigazione.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.csv
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.json
  assets/controlled-vocabularies/specie-navigazione/v0.4/specie_navigazione.csv
  assets/controlled-vocabularies/specie-navigazione/v0.4/specie_navigazione.json
Due: csvseparator

added latest version of tipo attivita fisica and tipo contatto vocabularies
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.ttl
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.3/tipo_attivita_fisica.csv
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.3/tipo_attivita_fisica.json
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.3/tipo_attivita_fisica.ttl
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.4/tipo_attivita_fisica.ttl
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.ttl
  assets/controlled-vocabularies/tipo-contatto/v0.3/tipo_contatto.csv
  assets/controlled-vocabularies/tipo-contatto/v0.3/tipo_contatto.json
  assets/controlled-vocabularies/tipo-contatto/v0.3/tipo_contatto.ttl
  assets/controlled-vocabularies/tipo-contatto/v0.4/tipo_contatto.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.csv
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.json
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.4/tipo_attivita_fisica.csv
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.4/tipo_attivita_fisica.json
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.csv
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.json
  assets/controlled-vocabularies/tipo-contatto/v0.4/tipo_contatto.csv
  assets/controlled-vocabularies/tipo-contatto/v0.4/tipo_contatto.json
Due: csvseparator

added latest version of tipo definizione decisione istruttoria vocabulary
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.ttl
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.3/tipo_definizione_decisione_istruttoria.csv
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.3/tipo_definizione_decisione_istruttoria.json
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.3/tipo_definizione_decisione_istruttoria.ttl
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.4/tipo_definizione_decisione_istruttoria.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.csv
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.json
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.4/tipo_definizione_decisione_istruttoria.csv
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.4/tipo_definizione_decisione_istruttoria.json
Due: csvseparator

added latest version of tipo deviazione, tipo lavoratore and tipo lavoro vocabularies
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.ttl
  assets/controlled-vocabularies/tipo-deviazione/v0.3/tipo_deviazione.csv
  assets/controlled-vocabularies/tipo-deviazione/v0.3/tipo_deviazione.json
  assets/controlled-vocabularies/tipo-deviazione/v0.3/tipo_deviazione.ttl
  assets/controlled-vocabularies/tipo-deviazione/v0.4/tipo_deviazione.ttl
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.ttl
  assets/controlled-vocabularies/tipo-lavoratore/v0.3/tipo_lavoratore.csv
  assets/controlled-vocabularies/tipo-lavoratore/v0.3/tipo_lavoratore.json
  assets/controlled-vocabularies/tipo-lavoratore/v0.3/tipo_lavoratore.ttl
  assets/controlled-vocabularies/tipo-lavoratore/v0.4/tipo_lavoratore.ttl
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.ttl
  assets/controlled-vocabularies/tipo-lavoro/v0.3/tipo_lavoro.csv
  assets/controlled-vocabularies/tipo-lavoro/v0.3/tipo_lavoro.json
  assets/controlled-vocabularies/tipo-lavoro/v0.3/tipo_lavoro.ttl
  assets/controlled-vocabularies/tipo-lavoro/v0.4/tipo_lavoro.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.csv
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.json
  assets/controlled-vocabularies/tipo-deviazione/v0.4/tipo_deviazione.csv
  assets/controlled-vocabularies/tipo-deviazione/v0.4/tipo_deviazione.json
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.csv
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.json
  assets/controlled-vocabularies/tipo-lavoratore/v0.4/tipo_lavoratore.csv
  assets/controlled-vocabularies/tipo-lavoratore/v0.4/tipo_lavoratore.json
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.csv
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.json
  assets/controlled-vocabularies/tipo-lavoro/v0.4/tipo_lavoro.csv
  assets/controlled-vocabularies/tipo-lavoro/v0.4/tipo_lavoro.json
Due: csvseparator

added latest version of tipo luogo accadimento and tipo malattia vocabularies
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.ttl
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.3/tipo_luogo_accadimento.csv
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.3/tipo_luogo_accadimento.json
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.3/tipo_luogo_accadimento.ttl
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.4/tipo_luogo_accadimento.ttl
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.ttl
  assets/controlled-vocabularies/tipo-malattia/v0.3/tipo_malattia.csv
  assets/controlled-vocabularies/tipo-malattia/v0.3/tipo_malattia.json
  assets/controlled-vocabularies/tipo-malattia/v0.3/tipo_malattia.ttl
  assets/controlled-vocabularies/tipo-malattia/v0.4/tipo_malattia.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.csv
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.json
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.4/tipo_luogo_accadimento.csv
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.4/tipo_luogo_accadimento.json
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.csv
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.json
  assets/controlled-vocabularies/tipo-malattia/v0.4/tipo_malattia.csv
  assets/controlled-vocabularies/tipo-malattia/v0.4/tipo_malattia.json
Due: csvseparator

added latest version of tipo tecnopatia and tipo trattazione vocabularies
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.ttl
  assets/controlled-vocabularies/tipo-tecnopatia/v0.3/tipo_tecnopatia.csv
  assets/controlled-vocabularies/tipo-tecnopatia/v0.3/tipo_tecnopatia.json
  assets/controlled-vocabularies/tipo-tecnopatia/v0.3/tipo_tecnopatia.ttl
  assets/controlled-vocabularies/tipo-tecnopatia/v0.4/tipo_tecnopatia.ttl
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.ttl
  assets/controlled-vocabularies/tipo-trattazione/v0.3/tipo_trattazione.csv
  assets/controlled-vocabularies/tipo-trattazione/v0.3/tipo_trattazione.json
  assets/controlled-vocabularies/tipo-trattazione/v0.3/tipo_trattazione.ttl
  assets/controlled-vocabularies/tipo-trattazione/v0.4/tipo_trattazione.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.csv
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.json
  assets/controlled-vocabularies/tipo-tecnopatia/v0.4/tipo_tecnopatia.csv
  assets/controlled-vocabularies/tipo-tecnopatia/v0.4/tipo_tecnopatia.json
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.csv
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.json
  assets/controlled-vocabularies/tipo-trattazione/v0.4/tipo_trattazione.csv
  assets/controlled-vocabularies/tipo-trattazione/v0.4/tipo_trattazione.json
Due: csvseparator

added latest version of tipo nave vocabulary
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.ttl
  assets/controlled-vocabularies/tipo-nave/v0.3/tipo_nave.csv
  assets/controlled-vocabularies/tipo-nave/v0.3/tipo_nave.json
  assets/controlled-vocabularies/tipo-nave/v0.3/tipo_nave.ttl
  assets/controlled-vocabularies/tipo-nave/v0.4/tipo_nave.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.csv
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.json
  assets/controlled-vocabularies/tipo-nave/v0.4/tipo_nave.csv
  assets/controlled-vocabularies/tipo-nave/v0.4/tipo_nave.json
Due: csvseparator

added latest version of esito definizione, inabilita temporanea and indennizzo schemas
  assets/schemas/esito-definizione/latest/esito-definizione.oas3.yaml
  assets/schemas/esito-definizione/v0.1/esito-definizione.oas3.yaml
  assets/schemas/esito-definizione/v0.2/esito-definizione.oas3.yaml
  assets/schemas/inabilita-temporanea/latest/inabilita-temporanea.oas3.yaml
  assets/schemas/inabilita-temporanea/v0.1/inabilita-temporanea.oas3.yaml
  assets/schemas/inabilita-temporanea/v0.2/inabilita-temporanea.oas3.yaml
  assets/schemas/indennizzo/latest/indennizzo.oas3.yaml
  assets/schemas/indennizzo/v0.1/indennizzo.oas3.yaml
  assets/schemas/indennizzo/v0.2/indennizzo.oas3.yaml
Due: none

added latest version of infortunato, infortunio and malattia professionale schemas
  assets/schemas/infortunato/latest/infortunato.oas3.yaml
  assets/schemas/infortunato/v0.1/infortunato.oas3.yaml
  assets/schemas/infortunato/v0.2/infortunato.oas3.yaml
  assets/schemas/infortunio/latest/infortunio.oas3.yaml
  assets/schemas/infortunio/v0.1/infortunio.oas3.yaml
  assets/schemas/infortunio/v0.2/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/latest/malattia-professionale.oas3.yaml
  assets/schemas/malattia-professionale/v0.1/malattia-professionale.oas3.yaml
  assets/schemas/malattia-professionale/v0.2/malattia-professionale.oas3.yaml
Due: none

added latest version of prestazione economica, riapertura trattazione and tecnopatico schemas
  assets/schemas/prestazione-economica/latest/prestazione-economica.oas3.yaml
  assets/schemas/prestazione-economica/v0.1/prestazione-economica.oas3.yaml
  assets/schemas/prestazione-economica/v0.2/prestazione-economica.oas3.yaml
  assets/schemas/riapertura-trattazione/latest/riapertura-trattazione.oas3.yaml
  assets/schemas/riapertura-trattazione/v0.1/riapertura-trattazione.oas3.yaml
  assets/schemas/riapertura-trattazione/v0.2/riapertura-trattazione.oas3.yaml
  assets/schemas/tecnopatico/latest/tecnopatico.oas3.yaml
  assets/schemas/tecnopatico/v0.1/tecnopatico.oas3.yaml
  assets/schemas/tecnopatico/v0.2/tecnopatico.oas3.yaml
Due: none

added latest version of tipo indennizzo, tipo trattazione and trattazione schemas
  assets/schemas/tipo-indennizzo/latest/tipo-indennizzo.oas3.yaml
  assets/schemas/tipo-indennizzo/v0.1/tipo-indennizzo.oas3.yaml
  assets/schemas/tipo-indennizzo/v0.2/tipo-indennizzo.oas3.yaml
  assets/schemas/tipo-trattazione/latest/tipo-trattazione.oas3.yaml
  assets/schemas/tipo-trattazione/v0.1/tipo-trattazione.oas3.yaml
  assets/schemas/tipo-trattazione/v0.2/tipo-trattazione.oas3.yaml
  assets/schemas/trattazione/latest/trattazione.oas3.yaml
  assets/schemas/trattazione/v0.1/trattazione.oas3.yaml
  assets/schemas/trattazione/v0.2/trattazione.oas3.yaml
Due: none

added new schemas: denuncia, denuncia cessazione, persona fisica, posizione assicurativa territoriale, sede inail, soggetto assicurante
  assets/schemas/denuncia-cessazione/latest/denuncia-cessazione.oas3.yaml
  assets/schemas/denuncia-cessazione/v0.1/denuncia-cessazione.oas3.yaml
  assets/schemas/denuncia/latest/denuncia.oas3.yaml
  assets/schemas/denuncia/v0.1/denuncia.oas3.yaml
  assets/schemas/persona-fisica/latest/persona-fisica.oas3.yaml
  assets/schemas/persona-fisica/v0.1/persona-fisica.oas3.yaml
  assets/schemas/posizione-assicurativa-territoriale/latest/posizione-assicurativa-territoriale.oas3.yaml
  assets/schemas/posizione-assicurativa-territoriale/v0.1/posizione-assicurativa-territoriale.oas3.yaml
  assets/schemas/sede-inail/latest/sede-inail.oas3.yaml
  assets/schemas/sede-inail/v0.1/sede-inail.oas3.yaml
  assets/schemas/soggetto-assicurante/latest/soggetto-assicurante.oas3.yaml
  assets/schemas/soggetto-assicurante/v0.1/soggetto-assicurante.oas3.yaml
Due: none

modified uri of the schemas
  assets/schemas/denuncia-cessazione/latest/denuncia-cessazione.oas3.yaml
  assets/schemas/denuncia-cessazione/v0.1/denuncia-cessazione.oas3.yaml
  assets/schemas/denuncia/latest/denuncia.oas3.yaml
  assets/schemas/denuncia/v0.1/denuncia.oas3.yaml
  assets/schemas/inabilita-temporanea/latest/inabilita-temporanea.oas3.yaml
  assets/schemas/inabilita-temporanea/v0.2/inabilita-temporanea.oas3.yaml
  assets/schemas/infortunato/latest/infortunato.oas3.yaml
  assets/schemas/infortunato/v0.2/infortunato.oas3.yaml
  assets/schemas/infortunio/latest/infortunio.oas3.yaml
  assets/schemas/infortunio/v0.2/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/latest/malattia-professionale.oas3.yaml
  assets/schemas/malattia-professionale/v0.2/malattia-professionale.oas3.yaml
  assets/schemas/posizione-assicurativa-territoriale/latest/posizione-assicurativa-territoriale.oas3.yaml
  assets/schemas/posizione-assicurativa-territoriale/v0.1/posizione-assicurativa-territoriale.oas3.yaml
  assets/schemas/prestazione-economica/latest/prestazione-economica.oas3.yaml
  assets/schemas/prestazione-economica/v0.2/prestazione-economica.oas3.yaml
  assets/schemas/riapertura-trattazione/latest/riapertura-trattazione.oas3.yaml
  assets/schemas/riapertura-trattazione/v0.2/riapertura-trattazione.oas3.yaml
  assets/schemas/soggetto-assicurante/latest/soggetto-assicurante.oas3.yaml
  assets/schemas/soggetto-assicurante/v0.1/soggetto-assicurante.oas3.yaml
  assets/schemas/tecnopatico/latest/tecnopatico.oas3.yaml
  assets/schemas/tecnopatico/v0.2/tecnopatico.oas3.yaml
  assets/schemas/trattazione/latest/trattazione.oas3.yaml
  assets/schemas/trattazione/v0.2/trattazione.oas3.yaml
Due: none

modified soggetto assicurante schema
  assets/schemas/soggetto-assicurante/latest/soggetto-assicurante.oas3.yaml
  assets/schemas/soggetto-assicurante/v0.1/soggetto-assicurante.oas3.yaml
Due: none

upload latest version of ontologies
  assets/ontologies/autoliquidazione/v1.8/autoliquidazione.ttl
  assets/ontologies/autoliquidazione/v1.9/autoliquidazione.ttl
  assets/ontologies/core/v1.9/core.ttl
  assets/ontologies/prestazioni/v1.9/prestazioni_amministrative.ttl
Due: ttlfmt

update access and download uris of ontologies
  assets/ontologies/autoliquidazione/v1.7/autoliquidazione.ttl
  assets/ontologies/core/v1.7/core.ttl
  assets/ontologies/core/v1.8/core.ttl
  assets/ontologies/prestazioni/v1.7/prestazioni_amministrative.ttl
  assets/ontologies/prestazioni/v1.8/prestazioni_amministrative.ttl
Due: ttlfmt
