Repository InailUfficio5/inail-ndc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ttlfmt, check-json-ld, pretty-format-json-ld, csvseparator

ttlfmt:
  name: Serialize turtle files
  entry: ttlfmt
  language: python
  additional_dependencies:
  - rdflib==6.2.0
  - ttlser==1.1.4
  - ttlser[ttlfmt]==1.1.4

check-json-ld:
  name: check json-ld
  entry: python scripts/check_json.py
  language: python
  additional_dependencies:
  - typing

pretty-format-json-ld:
  name: pretty format json-ld
  entry: python scripts/pretty_format_json.py
  args:
  - --autofix
  - --no-sort-keys
  language: python
  additional_dependencies:
  - typing

csvseparator:
  name: Check csv separator
  entry: python scripts/fix-csv-separator.py
  language: python
  additional_dependencies:
  - pandas==1.5.0

upload new ontologies version
  assets/ontologies/autoliquidazione/latest/autoliquidazione.n3
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.n3
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.ttl
  assets/ontologies/core/latest/core.n3
  assets/ontologies/core/v2.0/core.n3
  assets/ontologies/core/v2.0/core.ttl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.ttl
Due: ttlfmt

Add files via upload
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.owl
Due: none

Add files via upload
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.owl
Due: none

Add files via upload
  assets/ontologies/core/v2.0/core.owl
Due: none

Add files via upload
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.owl
Due: none

upload new ontologies version
  assets/ontologies/autoliquidazione/latest/autoliquidazione.owl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.owl
  assets/ontologies/core/latest/core.owl
  assets/ontologies/core/v2.0/core.owl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.owl
Due: none

Update main.yaml
  .github/workflows/main.yaml
Due: none

upload license file
  LICENSE
  README.md
Due: none

upload license file
  README.md
Due: none

update controlled vocabularies(0.5 version): agente causale, agente materiale, classe menomazione, cause esterne
  assets/controlled-vocabularies/agente-causale/latest/agente_causale.csv
  assets/controlled-vocabularies/agente-causale/latest/agente_causale.json
  assets/controlled-vocabularies/agente-causale/v0.5/agente_causale.ttl
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.json
  assets/controlled-vocabularies/agente-materiale/v0.5/agente_materiale.ttl
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.json
  assets/controlled-vocabularies/classe-menomazione/v0.5/classe_menomazione.ttl
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.json
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.5/classificazione_cause_esterne.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/agente-causale/latest/agente_causale.csv
  assets/controlled-vocabularies/agente-causale/latest/agente_causale.json
  assets/controlled-vocabularies/agente-causale/v0.5/agente_causale.csv
  assets/controlled-vocabularies/agente-causale/v0.5/agente_causale.json
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/latest/agente_materiale.json
  assets/controlled-vocabularies/agente-materiale/v0.5/agente_materiale.csv
  assets/controlled-vocabularies/agente-materiale/v0.5/agente_materiale.json
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/latest/classe_menomazione.json
  assets/controlled-vocabularies/classe-menomazione/v0.5/classe_menomazione.csv
  assets/controlled-vocabularies/classe-menomazione/v0.5/classe_menomazione.json
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/latest/classificazione_cause_esterne.json
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.5/classificazione_cause_esterne.csv
  assets/controlled-vocabularies/classificazione-cause-esterne/v0.5/classificazione_cause_esterne.json
Due: csvseparator

update controlled vocabularies(0.5 version): decisione istruttoria, definizione amministrativa, grado inabilità, grande gruppo, icdx
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.5/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.5/definizione_amministrativa.ttl
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.5/grado_inabilita.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.5/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.5/icdx.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.5/decisione_istruttoria_esito_mortale.csv
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.5/decisione_istruttoria_esito_mortale.json
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.json
  assets/controlled-vocabularies/definizione-amministrativa/v0.5/definizione_amministrativa.csv
  assets/controlled-vocabularies/definizione-amministrativa/v0.5/definizione_amministrativa.json
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/latest/grado_inabilita.json
  assets/controlled-vocabularies/grado-inabilita/v0.5/grado_inabilita.csv
  assets/controlled-vocabularies/grado-inabilita/v0.5/grado_inabilita.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.5/grande_gruppo_tariffario.csv
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.5/grande_gruppo_tariffario.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/latest/icdx.json
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.5/icdx.csv
  assets/controlled-vocabularies/icdx-classificazione-internazionale-malattie/v0.5/icdx.json
Due: csvseparator

update controlled vocabularies(0.5 version): mansione, natura lesione, registro iscrizione nave
  assets/controlled-vocabularies/mansione/latest/mansione.csv
  assets/controlled-vocabularies/mansione/latest/mansione.json
  assets/controlled-vocabularies/mansione/v0.5/mansione.ttl
  assets/controlled-vocabularies/natura-lesione/latest/natura_lesione.csv
  assets/controlled-vocabularies/natura-lesione/latest/natura_lesione.json
  assets/controlled-vocabularies/natura-lesione/v0.5/natura_lesione.ttl
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.5/registro_iscrizione_nave.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/mansione/latest/mansione.csv
  assets/controlled-vocabularies/mansione/latest/mansione.json
  assets/controlled-vocabularies/mansione/v0.5/mansione.csv
  assets/controlled-vocabularies/mansione/v0.5/mansione.json
  assets/controlled-vocabularies/natura-lesione/latest/natura_lesione.csv
  assets/controlled-vocabularies/natura-lesione/latest/natura_lesione.json
  assets/controlled-vocabularies/natura-lesione/v0.5/natura_lesione.csv
  assets/controlled-vocabularies/natura-lesione/v0.5/natura_lesione.json
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/latest/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.5/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro-iscrizione-nave/v0.5/registro_iscrizione_nave.json
Due: csvseparator

update controlled vocabularies(0.5 version): sede lesione, servizio nave, settore correlato malattia, specie navigazione
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.json
  assets/controlled-vocabularies/sede-lesione/v0.5/sede_lesione.ttl
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.json
  assets/controlled-vocabularies/servizio-nave/v0.5/servizio_nave.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.json
  assets/controlled-vocabularies/settore-correlato-malattia/v0.5/settore_correlato_malattia.ttl
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.csv
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.json
  assets/controlled-vocabularies/specie-navigazione/v0.5/specie_navigazione.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/latest/sede_lesione.json
  assets/controlled-vocabularies/sede-lesione/v0.5/sede_lesione.csv
  assets/controlled-vocabularies/sede-lesione/v0.5/sede_lesione.json
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/latest/servizio_nave.json
  assets/controlled-vocabularies/servizio-nave/v0.5/servizio_nave.csv
  assets/controlled-vocabularies/servizio-nave/v0.5/servizio_nave.json
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.json
  assets/controlled-vocabularies/settore-correlato-malattia/v0.5/settore_correlato_malattia.csv
  assets/controlled-vocabularies/settore-correlato-malattia/v0.5/settore_correlato_malattia.json
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.csv
  assets/controlled-vocabularies/specie-navigazione/latest/specie_navigazione.json
  assets/controlled-vocabularies/specie-navigazione/v0.5/specie_navigazione.csv
  assets/controlled-vocabularies/specie-navigazione/v0.5/specie_navigazione.json
Due: csvseparator

update controlled vocabularies (0.5 version): tipo attività fisica, tipo contatto, tipo definizione, tipo deviazione, tipo lavoratore, tipo lavoro
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.csv
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.json
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.5/tipo_attivita_fisica.ttl
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.csv
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.json
  assets/controlled-vocabularies/tipo-contatto/v0.5/tipo_contatto.ttl
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.csv
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.json
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.5/tipo_definizione_decisione_istruttoria.ttl
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.csv
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.json
  assets/controlled-vocabularies/tipo-deviazione/v0.5/tipo_deviazione.ttl
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.csv
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.json
  assets/controlled-vocabularies/tipo-lavoratore/v0.5/tipo_lavoratore.ttl
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.csv
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.json
  assets/controlled-vocabularies/tipo-lavoro/v0.5/tipo_lavoro.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.csv
  assets/controlled-vocabularies/tipo-attivita-fisica/latest/tipo_attivita_fisica.json
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.5/tipo_attivita_fisica.csv
  assets/controlled-vocabularies/tipo-attivita-fisica/v0.5/tipo_attivita_fisica.json
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.csv
  assets/controlled-vocabularies/tipo-contatto/latest/tipo_contatto.json
  assets/controlled-vocabularies/tipo-contatto/v0.5/tipo_contatto.csv
  assets/controlled-vocabularies/tipo-contatto/v0.5/tipo_contatto.json
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.csv
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/latest/tipo_definizione_decisione_istruttoria.json
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.5/tipo_definizione_decisione_istruttoria.csv
  assets/controlled-vocabularies/tipo-definizione-decisione-istruttoria/v0.5/tipo_definizione_decisione_istruttoria.json
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.csv
  assets/controlled-vocabularies/tipo-deviazione/latest/tipo_deviazione.json
  assets/controlled-vocabularies/tipo-deviazione/v0.5/tipo_deviazione.csv
  assets/controlled-vocabularies/tipo-deviazione/v0.5/tipo_deviazione.json
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.csv
  assets/controlled-vocabularies/tipo-lavoratore/latest/tipo_lavoratore.json
  assets/controlled-vocabularies/tipo-lavoratore/v0.5/tipo_lavoratore.csv
  assets/controlled-vocabularies/tipo-lavoratore/v0.5/tipo_lavoratore.json
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.csv
  assets/controlled-vocabularies/tipo-lavoro/latest/tipo_lavoro.json
  assets/controlled-vocabularies/tipo-lavoro/v0.5/tipo_lavoro.csv
  assets/controlled-vocabularies/tipo-lavoro/v0.5/tipo_lavoro.json
Due: csvseparator

update controlled vocabularies (0.5 version): tipo luogo accadimento, tipo malattia, tipo nave, tipo tecnopatia, tipo trattazione
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.csv
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.json
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.5/tipo_luogo_accadimento.ttl
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.csv
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.json
  assets/controlled-vocabularies/tipo-malattia/v0.5/tipo_malattia.ttl
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.csv
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.json
  assets/controlled-vocabularies/tipo-nave/v0.5/tipo_nave.ttl
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.csv
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.json
  assets/controlled-vocabularies/tipo-tecnopatia/v0.5/tipo_tecnopatia.ttl
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.csv
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.json
  assets/controlled-vocabularies/tipo-trattazione/v0.5/tipo_trattazione.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.csv
  assets/controlled-vocabularies/tipo-luogo-accadimento/latest/tipo_luogo_accadimento.json
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.5/tipo_luogo_accadimento.csv
  assets/controlled-vocabularies/tipo-luogo-accadimento/v0.5/tipo_luogo_accadimento.json
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.csv
  assets/controlled-vocabularies/tipo-malattia/latest/tipo_malattia.json
  assets/controlled-vocabularies/tipo-malattia/v0.5/tipo_malattia.csv
  assets/controlled-vocabularies/tipo-malattia/v0.5/tipo_malattia.json
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.csv
  assets/controlled-vocabularies/tipo-nave/latest/tipo_nave.json
  assets/controlled-vocabularies/tipo-nave/v0.5/tipo_nave.csv
  assets/controlled-vocabularies/tipo-nave/v0.5/tipo_nave.json
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.csv
  assets/controlled-vocabularies/tipo-tecnopatia/latest/tipo_tecnopatia.json
  assets/controlled-vocabularies/tipo-tecnopatia/v0.5/tipo_tecnopatia.csv
  assets/controlled-vocabularies/tipo-tecnopatia/v0.5/tipo_tecnopatia.json
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.csv
  assets/controlled-vocabularies/tipo-trattazione/latest/tipo_trattazione.json
  assets/controlled-vocabularies/tipo-trattazione/v0.5/tipo_trattazione.csv
  assets/controlled-vocabularies/tipo-trattazione/v0.5/tipo_trattazione.json
Due: csvseparator

update latest version of ontologies
  assets/ontologies/autoliquidazione/latest/autoliquidazione.n3
  assets/ontologies/autoliquidazione/latest/autoliquidazione.owl
  assets/ontologies/autoliquidazione/latest/autoliquidazione.ttl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.n3
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.owl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.ttl
  assets/ontologies/core/latest/core.n3
  assets/ontologies/core/latest/core.owl
  assets/ontologies/core/latest/core.ttl
  assets/ontologies/core/v2.0/core.n3
  assets/ontologies/core/v2.0/core.owl
  assets/ontologies/core/v2.0/core.ttl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.ttl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.ttl
Due: ttlfmt

update latest version of ontologies and the following controlled vocabularies: settore-correlato-malattia, decisione-istruttoria-esito-mortale, grande-gruppo-tariffario and definizione-amministrativa
  README.md
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/latest/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/decisione-istruttoria-esito-mortale/v0.5/decisione_istruttoria_esito_mortale.ttl
  assets/controlled-vocabularies/definizione-amministrativa/latest/definizione_amministrativa.ttl
  assets/controlled-vocabularies/definizione-amministrativa/v0.5/definizione_amministrativa.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/latest/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/grande-gruppo-tariffario/v0.5/grande_gruppo_tariffario.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/latest/settore_correlato_malattia.ttl
  assets/controlled-vocabularies/settore-correlato-malattia/v0.5/settore_correlato_malattia.ttl
  assets/ontologies/autoliquidazione/latest/autoliquidazione.n3
  assets/ontologies/autoliquidazione/latest/autoliquidazione.owl
  assets/ontologies/autoliquidazione/latest/autoliquidazione.ttl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.n3
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.owl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.ttl
  assets/ontologies/core/latest/core.n3
  assets/ontologies/core/latest/core.owl
  assets/ontologies/core/latest/core.ttl
  assets/ontologies/core/v2.0/core.n3
  assets/ontologies/core/v2.0/core.owl
  assets/ontologies/core/v2.0/core.ttl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.ttl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.ttl
Due: ttlfmt

edit ontology metadata adms:status
  assets/ontologies/autoliquidazione/latest/autoliquidazione.n3
  assets/ontologies/autoliquidazione/latest/autoliquidazione.owl
  assets/ontologies/autoliquidazione/latest/autoliquidazione.ttl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.n3
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.owl
  assets/ontologies/autoliquidazione/v2.0/autoliquidazione.ttl
  assets/ontologies/core/latest/core.n3
  assets/ontologies/core/latest/core.owl
  assets/ontologies/core/latest/core.ttl
  assets/ontologies/core/v2.0/core.n3
  assets/ontologies/core/v2.0/core.owl
  assets/ontologies/core/v2.0/core.ttl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/latest/prestazioni_amministrative.ttl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.n3
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.owl
  assets/ontologies/prestazioni/v2.0/prestazioni_amministrative.ttl
Due: ttlfmt

edit files name of prestazioni and autoliquidazione ontology
  assets/ontologies/adm_serv/latest/adm_serv.n3
  assets/ontologies/adm_serv/latest/adm_serv.owl
  assets/ontologies/adm_serv/latest/adm_serv.ttl
  assets/ontologies/adm_serv/v1.7/prestazioni_amministrative.ttl
  assets/ontologies/adm_serv/v1.8/prestazioni_amministrative.ttl
  assets/ontologies/adm_serv/v1.9/prestazioni_amministrative.ttl
  assets/ontologies/adm_serv/v2.0/adm_serv.n3
  assets/ontologies/adm_serv/v2.0/adm_serv.owl
  assets/ontologies/adm_serv/v2.0/adm_serv.ttl
  assets/ontologies/proc21/latest/proc21.n3
  assets/ontologies/proc21/latest/proc21.owl
  assets/ontologies/proc21/latest/proc21.ttl
  assets/ontologies/proc21/v1.7/autoliquidazione.ttl
  assets/ontologies/proc21/v1.8/autoliquidazione.ttl
  assets/ontologies/proc21/v1.9/autoliquidazione.ttl
  assets/ontologies/proc21/v2.0/proc21.n3
  assets/ontologies/proc21/v2.0/proc21.owl
  assets/ontologies/proc21/v2.0/proc21.ttl
Due: ttlfmt

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/grado_inabilita/latest/grado_inabilita.csv
Due: csvseparator

edit metadata ndc:keyConcept for the following vocabularies: classificazione_cause_esterne, grado_inabilita, tipo_attivita_fisica, tipo_deviazione and tipo_luogo_accadimento
  assets/controlled-vocabularies/classificazione_cause_esterne/latest/classificazione_cause_esterne.ttl
  assets/controlled-vocabularies/classificazione_cause_esterne/v0.5/classificazione_cause_esterne.ttl
  assets/controlled-vocabularies/grado_inabilita/latest/grado_inabilita.ttl
  assets/controlled-vocabularies/grado_inabilita/v0.5/grado_inabilita.ttl
  assets/controlled-vocabularies/tipo_attivita_fisica/latest/tipo_attivita_fisica.ttl
  assets/controlled-vocabularies/tipo_attivita_fisica/v0.5/tipo_attivita_fisica.ttl
  assets/controlled-vocabularies/tipo_deviazione/latest/tipo_deviazione.ttl
  assets/controlled-vocabularies/tipo_deviazione/v0.5/tipo_deviazione.ttl
  assets/controlled-vocabularies/tipo_luogo_accadimento/latest/tipo_luogo_accadimento.ttl
  assets/controlled-vocabularies/tipo_luogo_accadimento/v0.5/tipo_luogo_accadimento.ttl
Due: ttlfmt

uploading ontologies, controlled vocabularies and schemas about PDDA1 (6 procedure)
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.ttl
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.ttl
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.ttl
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.ttl
  assets/ontologies/proc6_pdda1/latest/proc6_pdda1.n3
  assets/ontologies/proc6_pdda1/latest/proc6_pdda1.owl
  assets/ontologies/proc6_pdda1/latest/proc6_pdda1.ttl
  assets/ontologies/proc6_pdda1/v1.0/proc6_pdda1.n3
  assets/ontologies/proc6_pdda1/v1.0/proc6_pdda1.owl
  assets/ontologies/proc6_pdda1/v1.0/proc6_pdda1.ttl
  assets/schemas/documento-pdda1/latest/documento-pdda1.oas3.yaml
  assets/schemas/documento-pdda1/v0.1/documento-pdda1.yaml
  assets/schemas/pratica-pdda1/latest/pratica-pdda1.oas3.yaml
  assets/schemas/pratica-pdda1/v0.1/pratica-pdda1.yaml
  assets/schemas/richiesta-pdda1/latest/richiesta-pdda1.oas3.yaml
  assets/schemas/richiesta-pdda1/v0.1/richiesta-pdda1.yaml
Due: ttlfmt

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.json
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.json
Due: csvseparator

change distribution of adm_serv and proc21_self_liquidation ontologies
  assets/ontologies/adm_serv/latest/adm_serv.n3
  assets/ontologies/adm_serv/latest/adm_serv.ttl
  assets/ontologies/proc21_self_liquidation/latest/proc21_self_liquidation.ttl
Due: ttlfmt

change distribution of adm_serv and proc21_self_liquidation ontologies
  assets/ontologies/adm_serv/latest/adm_serv.ttl
Due: ttlfmt

change property adms:prefix in proc6 and proc21 ontologies
  assets/ontologies/proc21_self_liquidation/latest/proc21_self_liquidation.n3
  assets/ontologies/proc21_self_liquidation/latest/proc21_self_liquidation.owl
  assets/ontologies/proc21_self_liquidation/latest/proc21_self_liquidation.ttl
  assets/ontologies/proc21_self_liquidation/v2.1/proc21_self_liquidation.n3
  assets/ontologies/proc21_self_liquidation/v2.1/proc21_self_liquidation.owl
  assets/ontologies/proc21_self_liquidation/v2.1/proc21_self_liquidation.ttl
  assets/ontologies/proc6_pdda1/latest/proc6_pdda1.n3
  assets/ontologies/proc6_pdda1/latest/proc6_pdda1.owl
  assets/ontologies/proc6_pdda1/latest/proc6_pdda1.ttl
  assets/ontologies/proc6_pdda1/v1.0/proc6_pdda1.n3
  assets/ontologies/proc6_pdda1/v1.0/proc6_pdda1.owl
  assets/ontologies/proc6_pdda1/v1.0/proc6_pdda1.ttl
Due: ttlfmt

change uri of proc6 vocabularies
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.json
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.json
Due: csvseparator

Path conditions:
  ttlfmt: any of: ^assets/.*\.ttl
  check-json-ld: any of: ^assets\/controlled-vocabularies\/.*\.jsonld
  pretty-format-json-ld: any of: ^assets\/controlled-vocabularies\/.*\.jsonld
  csvseparator: any of: ^assets\/controlled-vocabularies\/.*\.csv
