Repository InailUfficio5/inail-ndc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ttlfmt, check-json-ld, pretty-format-json-ld, csvseparator

.pre-commit-config.yaml:

#
# Run pre-commit hooks. You can run them without installing
#  the hook with
#
# $ pre-commit run --all-files
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: check-added-large-files
        args:
        - "--maxkb=4000"
    # -   id: check-json
    #     files: '^assets\/controlled-vocabularies\/.*\.json'
    # -   id: pretty-format-json
    #     args:
    #     - "--autofix"
    #     - "--no-sort-keys"
    #     files: '^assets\/controlled-vocabularies\/.*\.json'
    # -   id: pretty-format-json-ld
    #     args:
    #     - "--autofix"
    #     - "--no-sort-keys"
    #     name: pretty format json-ld
    #     files: '^assets\/controlled-vocabularies\/.*\.jsonld'
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      name: isort (python)
      # Use black profile for isort to avoid conflicts
      #   see https://github.com/PyCQA/isort/issues/1518
      args: ["--profile", "black"]
    - id: isort
      name: isort (cython)
      types: [cython]
    - id: isort
      name: isort (pyi)
      types: [pyi]

#
# Semantic checks.
#
- repo: https://github.com/teamdigitale/json-semantic-playground
  rev: c10c5879438de0d321d6591ec88ace95e042e9d2
  hooks:
  # - id: validate-csv
  #   files: >-
  #     ^assets\/controlled-vocabularies\/.*\.csv
  - id: validate-oas-schema
    files: >-
      ^assets\/schemas\/.*.oas3.yaml
  - id: validate-turtle
    name: Validate ontologies
    files: >-
      ^assets\/ontologies\/[^\/]+\/.*\.ttl
  - id: validate-turtle
    name: Validate controlled vocabularies
    files: >-
      ^assets\/controlled-vocabularies\/.*\.ttl
  - id: validate-directory-versioning
    files: '^assets\/ontologies\/.*\.ttl'

#
# TTL Serialization.
#

- repo: local
  hooks:
  - id: ttlfmt
    name: Serialize turtle files
    entry: ttlfmt
    files: >-
      ^assets/.*\.ttl
    types:
    - file
    language: python
    additional_dependencies:
    - rdflib==6.2.0
    - ttlser==1.1.4
    - ttlser[ttlfmt]==1.1.4
  - id: check-json-ld
    name: check json-ld
    entry: python scripts/check_json.py
    files: '^assets\/controlled-vocabularies\/.*\.jsonld'
    language: python
    additional_dependencies:
    - typing
  - id: pretty-format-json-ld
    name: pretty format json-ld
    entry: python scripts/pretty_format_json.py
    args:
    - "--autofix"
    - "--no-sort-keys"
    files: '^assets\/controlled-vocabularies\/.*\.jsonld'
    language: python
    additional_dependencies:
    - typing
  - id: csvseparator
    name: Check csv separator
    entry: python scripts/fix-csv-separator.py
    files: >-
      ^assets\/controlled-vocabularies\/.*\.csv
    language: python
    additional_dependencies:
    - pandas==1.5.0
    types:
    - file

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.json
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.json
Due: csvseparator

added prefixes to proc6 vocabularies
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.json
  assets/controlled-vocabularies/stato_pratica_pdda1/latest/stato_pratica_pdda1.ttl
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.csv
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.json
  assets/controlled-vocabularies/stato_pratica_pdda1/v1.0/stato_pratica_pdda1.ttl
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/latest/tipo_richiedente_pdda1.ttl
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.csv
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.json
  assets/controlled-vocabularies/tipo_richiedente_pdda1/v1.0/tipo_richiedente_pdda1.ttl
Due: ttlfmt, csvseparator

change uri of proc21 vocabularies
  assets/controlled-vocabularies/registro_iscrizione_nave/latest/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro_iscrizione_nave/latest/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro_iscrizione_nave/latest/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/registro_iscrizione_nave/v0.5/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro_iscrizione_nave/v0.5/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro_iscrizione_nave/v0.5/registro_iscrizione_nave.ttl
  assets/controlled-vocabularies/servizio_nave/latest/servizio_nave.csv
  assets/controlled-vocabularies/servizio_nave/latest/servizio_nave.json
  assets/controlled-vocabularies/servizio_nave/latest/servizio_nave.ttl
  assets/controlled-vocabularies/servizio_nave/v0.5/servizio_nave.csv
  assets/controlled-vocabularies/servizio_nave/v0.5/servizio_nave.json
  assets/controlled-vocabularies/servizio_nave/v0.5/servizio_nave.ttl
  assets/controlled-vocabularies/specie_navigazione/latest/specie_navigazione.csv
  assets/controlled-vocabularies/specie_navigazione/latest/specie_navigazione.json
  assets/controlled-vocabularies/specie_navigazione/latest/specie_navigazione.ttl
  assets/controlled-vocabularies/specie_navigazione/v0.5/specie_navigazione.csv
  assets/controlled-vocabularies/specie_navigazione/v0.5/specie_navigazione.json
  assets/controlled-vocabularies/specie_navigazione/v0.5/specie_navigazione.ttl
  assets/controlled-vocabularies/tipo_nave/latest/tipo_nave.csv
  assets/controlled-vocabularies/tipo_nave/latest/tipo_nave.json
  assets/controlled-vocabularies/tipo_nave/latest/tipo_nave.ttl
  assets/controlled-vocabularies/tipo_nave/v0.5/tipo_nave.csv
  assets/controlled-vocabularies/tipo_nave/v0.5/tipo_nave.json
  assets/controlled-vocabularies/tipo_nave/v0.5/tipo_nave.ttl
Due: ttlfmt, csvseparator

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/registro_iscrizione_nave/latest/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro_iscrizione_nave/latest/registro_iscrizione_nave.json
  assets/controlled-vocabularies/registro_iscrizione_nave/v0.5/registro_iscrizione_nave.csv
  assets/controlled-vocabularies/registro_iscrizione_nave/v0.5/registro_iscrizione_nave.json
  assets/controlled-vocabularies/servizio_nave/latest/servizio_nave.csv
  assets/controlled-vocabularies/servizio_nave/latest/servizio_nave.json
  assets/controlled-vocabularies/servizio_nave/v0.5/servizio_nave.csv
  assets/controlled-vocabularies/servizio_nave/v0.5/servizio_nave.json
  assets/controlled-vocabularies/specie_navigazione/latest/specie_navigazione.csv
  assets/controlled-vocabularies/specie_navigazione/latest/specie_navigazione.json
  assets/controlled-vocabularies/specie_navigazione/v0.5/specie_navigazione.csv
  assets/controlled-vocabularies/specie_navigazione/v0.5/specie_navigazione.json
  assets/controlled-vocabularies/tipo_nave/latest/tipo_nave.csv
  assets/controlled-vocabularies/tipo_nave/latest/tipo_nave.json
  assets/controlled-vocabularies/tipo_nave/v0.5/tipo_nave.csv
  assets/controlled-vocabularies/tipo_nave/v0.5/tipo_nave.json
Due: csvseparator

change uri of proc21 ontology's individuals
  assets/ontologies/proc21_self_liquidation/latest/proc21_self_liquidation.owl
  assets/ontologies/proc21_self_liquidation/v2.1/proc21_self_liquidation.owl
Due: none

upgrade isort version
  .pre-commit-config.yaml
  assets/ontologies/adm_serv/v1.9/prestazioni_amministrative.ttl
  assets/ontologies/adm_serv/v2.0/adm_serv.ttl
  assets/ontologies/core/v1.9/core.ttl
  assets/ontologies/core/v2.0/core.ttl
  assets/ontologies/proc21_self_liquidation/v1.9/autoliquidazione.ttl
  assets/ontologies/proc21_self_liquidation/v2.0/proc21.ttl
Due: ttlfmt

upload index files of schemas
  assets/schemas/denuncia/latest/index.ttl
  assets/schemas/denuncia/v0.1/index.ttl
  assets/schemas/documento-pdda1/latest/documento-pdda1.oas3.yaml
  assets/schemas/documento-pdda1/v0.1/documento-pdda1.oas3.yaml
  assets/schemas/documento-pdda1/v0.1/documento-pdda1.yaml
  assets/schemas/pratica-pdda1/latest/pratica-pdda1.oas3.yaml
  assets/schemas/pratica-pdda1/v0.1/pratica-pdda1.oas3.yaml
  assets/schemas/pratica-pdda1/v0.1/pratica-pdda1.yaml
  assets/schemas/richiesta-pdda1/latest/richiesta-pdda1.oas3.yaml
  assets/schemas/richiesta-pdda1/v0.1/richiesta-pdda1.oas3.yaml
  assets/schemas/richiesta-pdda1/v0.1/richiesta-pdda1.yaml
Due: ttlfmt

Upload index files of schemas
  assets/schemas/denuncia-cessazione/latest/index.ttl
  assets/schemas/denuncia-cessazione/v0.1/index.ttl
  assets/schemas/documento-pdda1/latest/index.ttl
  assets/schemas/documento-pdda1/v0.1/index.ttl
  assets/schemas/esito-definizione/latest/index.ttl
  assets/schemas/esito-definizione/v0.2/index.ttl
  assets/schemas/inabilita-temporanea/latest/index.ttl
  assets/schemas/inabilita-temporanea/v0.2/index.ttl
  assets/schemas/indennizzo/latest/index.ttl
  assets/schemas/indennizzo/v0.2/index.ttl
  assets/schemas/infortunato/latest/index.ttl
  assets/schemas/infortunato/v0.2/index.ttl
  assets/schemas/infortunio/latest/index.ttl
  assets/schemas/infortunio/v0.2/index.ttl
  assets/schemas/malattia-professionale/latest/index.ttl
  assets/schemas/malattia-professionale/v0.2/index.ttl
  assets/schemas/persona-fisica/latest/index.ttl
  assets/schemas/persona-fisica/v0.1/index.ttl
  assets/schemas/posizione-assicurativa-territoriale/latest/index.ttl
  assets/schemas/posizione-assicurativa-territoriale/v0.1/index.ttl
  assets/schemas/pratica-pdda1/latest/index.ttl
  assets/schemas/pratica-pdda1/v0.1/index.ttl
  assets/schemas/prestazione-economica/latest/index.ttl
  assets/schemas/prestazione-economica/v0.2/index.ttl
  assets/schemas/riapertura-trattazione/latest/index.ttl
  assets/schemas/riapertura-trattazione/v0.2/index.ttl
  assets/schemas/richiesta-pdda1/latest/index.ttl
  assets/schemas/richiesta-pdda1/v0.1/index.ttl
  assets/schemas/sede-inail/latest/index.ttl
  assets/schemas/sede-inail/v0.1/index.ttl
  assets/schemas/soggetto-assicurante/latest/index.ttl
  assets/schemas/soggetto-assicurante/v0.1/index.ttl
  assets/schemas/tecnopatico/latest/index.ttl
  assets/schemas/tecnopatico/v0.2/index.ttl
  assets/schemas/tipo-indennizzo/latest/index.ttl
  assets/schemas/tipo-indennizzo/v0.2/index.ttl
  assets/schemas/tipo-trattazione/latest/index.ttl
  assets/schemas/tipo-trattazione/v0.2/index.ttl
  assets/schemas/trattazione/latest/index.ttl
  assets/schemas/trattazione/v0.2/index.ttl
Due: ttlfmt

removed dots from description
  assets/schemas/denuncia-cessazione/latest/denuncia-cessazione.oas3.yaml
  assets/schemas/denuncia-cessazione/v0.2/denuncia-cessazione.oas3.yaml
  assets/schemas/denuncia/latest/denuncia.oas3.yaml
  assets/schemas/denuncia/v0.2/denuncia.oas3.yaml
  assets/schemas/documento-pdda1/latest/documento-pdda1.oas3.yaml
  assets/schemas/documento-pdda1/v0.2/documento-pdda1.oas3.yaml
  assets/schemas/esito-definizione/latest/esito-definizione.oas3.yaml
  assets/schemas/esito-definizione/v0.3/esito-definizione.oas3.yaml
  assets/schemas/inabilita-temporanea/latest/inabilita-temporanea.oas3.yaml
  assets/schemas/inabilita-temporanea/v0.3/inabilita-temporanea.oas3.yaml
  assets/schemas/indennizzo/latest/indennizzo.oas3.yaml
  assets/schemas/indennizzo/v0.3/indennizzo.oas3.yaml
  assets/schemas/infortunato/latest/infortunato.oas3.yaml
  assets/schemas/infortunato/v0.3/infortunato.oas3.yaml
  assets/schemas/infortunio/latest/infortunio.oas3.yaml
  assets/schemas/infortunio/v0.3/infortunio.oas3.yaml
  assets/schemas/malattia-professionale/latest/malattia-professionale.oas3.yaml
  assets/schemas/malattia-professionale/v0.3/malattia-professionale.oas3.yaml
  assets/schemas/persona-fisica/latest/persona-fisica.oas3.yaml
  assets/schemas/persona-fisica/v0.2/persona-fisica.oas3.yaml
  assets/schemas/posizione-assicurativa-territoriale/latest/posizione-assicurativa-territoriale.oas3.yaml
  assets/schemas/posizione-assicurativa-territoriale/v0.2/posizione-assicurativa-territoriale.oas3.yaml
  assets/schemas/pratica-pdda1/latest/pratica-pdda1.oas3.yaml
  assets/schemas/pratica-pdda1/v0.2/pratica-pdda1.oas3.yaml
  assets/schemas/prestazione-economica/latest/prestazione-economica.oas3.yaml
  assets/schemas/prestazione-economica/v0.3/prestazione-economica.oas3.yaml
  assets/schemas/riapertura-trattazione/latest/riapertura-trattazione.oas3.yaml
  assets/schemas/riapertura-trattazione/v0.3/riapertura-trattazione.oas3.yaml
  assets/schemas/richiesta-pdda1/latest/richiesta-pdda1.oas3.yaml
  assets/schemas/richiesta-pdda1/v0.2/richiesta-pdda1.oas3.yaml
  assets/schemas/sede-inail/latest/sede-inail.oas3.yaml
  assets/schemas/sede-inail/v0.2/sede-inail.oas3.yaml
  assets/schemas/soggetto-assicurante/latest/soggetto-assicurante.oas3.yaml
  assets/schemas/soggetto-assicurante/v0.2/soggetto-assicurante.oas3.yaml
  assets/schemas/tecnopatico/latest/tecnopatico.oas3.yaml
  assets/schemas/tecnopatico/v0.3/tecnopatico.oas3.yaml
  assets/schemas/tipo-indennizzo/latest/tipo-indennizzo.oas3.yaml
  assets/schemas/tipo-indennizzo/v0.3/tipo-indennizzo.oas3.yaml
  assets/schemas/trattazione/latest/trattazione.oas3.yaml
  assets/schemas/trattazione/v0.3/trattazione.oas3.yaml
Due: none

update pre-commit config
  .pre-commit-config.yaml
  assets/ontologies/adm_serv/v1.9/prestazioni_amministrative.ttl
  assets/ontologies/adm_serv/v2.0/adm_serv.ttl
  assets/ontologies/core/v1.9/core.ttl
  assets/ontologies/core/v2.0/core.ttl
  assets/ontologies/proc21_self_liquidation/v1.9/autoliquidazione.ttl
  assets/ontologies/proc21_self_liquidation/v2.0/proc21.ttl
  requirements.txt
Due: ttlfmt

apparecchio-rx schema upload
  assets/schemas/denuncia/apparecchio-rx/latest/apparecchio-rx.oas3.yaml
  assets/schemas/denuncia/apparecchio-rx/latest/index.ttl
  assets/schemas/denuncia/apparecchio-rx/v1.0/apparecchio-rx.oas3.yaml
  assets/schemas/denuncia/apparecchio-rx/v1.0/index.ttl
Due: ttlfmt

denuncia-cessasione-apparecchi & denuncia-annuale-scuole-per-regolazione schema upload
  assets/schemas/inabilita-temporanea/denuncia-annuale-scuole-per-regolazione/latest/denuncia-annuale-scuole-per-regolazione.oas3.yaml
  assets/schemas/inabilita-temporanea/denuncia-annuale-scuole-per-regolazione/latest/index.ttl
  assets/schemas/inabilita-temporanea/denuncia-annuale-scuole-per-regolazione/v1.0/denuncia-annuale-scuole-per-regolazione.oas3.yaml
  assets/schemas/inabilita-temporanea/denuncia-annuale-scuole-per-regolazione/v1.0/index.ttl
  assets/schemas/inabilita-temporanea/denuncia-cessazione-apparecchi-rx/latest/apparecchio-rx.oas3.yaml
  assets/schemas/inabilita-temporanea/denuncia-cessazione-apparecchi-rx/latest/denuncia-cessazione-apparecchi-rx.oas3.yaml
  assets/schemas/inabilita-temporanea/denuncia-cessazione-apparecchi-rx/latest/index.ttl
  assets/schemas/inabilita-temporanea/denuncia-cessazione-apparecchi-rx/v1.0/apparecchio-rx.oas3.yaml
  assets/schemas/inabilita-temporanea/denuncia-cessazione-apparecchi-rx/v1.0/denuncia-cessazione-apparecchi-rx.oas3.yaml
  assets/schemas/inabilita-temporanea/denuncia-cessazione-apparecchi-rx/v1.0/index.ttl
Due: ttlfmt

proc17 schema upload: denuncia-cessazione-polizza-scuole
  assets/schemas/denuncia-cessazione-polizza-scuole/latest/denuncia-cessazione-polizza-scuole.oas3.yaml
  assets/schemas/denuncia-cessazione-polizza-scuole/latest/index.ttl
  assets/schemas/denuncia-cessazione-polizza-scuole/v1.0/denuncia-cessazione-polizza-scuole.oas3.yaml
  assets/schemas/denuncia-cessazione-polizza-scuole/v1.0/index.ttl
Due: ttlfmt

proc17 schema upload: denuncia-iscrizione-apparecchi-rx
  assets/schemas/denuncia-iscrizione-polizza-apparecchi-rx/latest/denuncia-iscrizione-polizza-apparecchi-rx.oas3.yaml
  assets/schemas/denuncia-iscrizione-polizza-apparecchi-rx/latest/index.ttl
  assets/schemas/denuncia-iscrizione-polizza-apparecchi-rx/v1.0/denuncia-iscrizione-polizza-apparecchi-rx.oas3.yaml
  assets/schemas/denuncia-iscrizione-polizza-apparecchi-rx/v1.0/index.ttl
Due: ttlfmt

proc17 schema upload: denuncia-iscrizione-polizza-scuole
  assets/schemas/denuncia-iscrizione-polizza-scuole/latest/denuncia-iscrizione-polizza-scuole.oas3.yaml
  assets/schemas/denuncia-iscrizione-polizza-scuole/latest/index.ttl
  assets/schemas/denuncia-iscrizione-polizza-scuole/v1.0/denuncia-iscrizione-polizza-scuole.oas3.yaml
  assets/schemas/denuncia-iscrizione-polizza-scuole/v1.0/index.ttl
Due: ttlfmt

proc17 schema upload: denuncia-iscrizione-sostanze-radioattive
  assets/schemas/denuncia-iscrizione-sostanze-radioattive/latest/denuncia-iscrizione-sostanze-radioattive.oas3.yaml
  assets/schemas/denuncia-iscrizione-sostanze-radioattive/latest/index.ttl
  assets/schemas/denuncia-iscrizione-sostanze-radioattive/v1.0/denuncia-iscrizione-sostanze-radioattive.oas3.yaml
  assets/schemas/denuncia-iscrizione-sostanze-radioattive/v1.0/index.ttl
Due: ttlfmt

controlled-vocabularies proc_17 upload
  assets/controlled-vocabularies/categoria_naviglio/latest/categoria_naviglio.ttl
  assets/controlled-vocabularies/categoria_naviglio/v1.0/categoria_naviglio.ttl
  assets/controlled-vocabularies/settore_attività/latest/settore_attivita.ttl
  assets/controlled-vocabularies/settore_attività/v1.0/settore_attivita.ttl
  assets/controlled-vocabularies/sostanza_radioattiva/latest/sostanza_radioattiva.ttl
  assets/controlled-vocabularies/sostanza_radioattiva/v1.0/sostanza_radioattiva.ttl
  assets/controlled-vocabularies/tipo_apparecchio_rx/latest/tipo_apparecchio_rx.ttl
  assets/controlled-vocabularies/tipo_apparecchio_rx/v1.0/tipo_apparecchio_rx.ttl
  assets/controlled-vocabularies/tipo_polizza/latest/tipo_polizza.ttl
  assets/controlled-vocabularies/tipo_polizza/v1.0/tipo_polizza.ttl
  assets/controlled-vocabularies/tipo_qualifica/latest/tipo_qualifica.ttl
  assets/controlled-vocabularies/tipo_qualifica/v1.0/tipo_qualifica.ttl
Due: ttlfmt

Continuous Integration Build Artifacts
  assets/controlled-vocabularies/categoria_naviglio/latest/categoria_naviglio.csv
  assets/controlled-vocabularies/categoria_naviglio/latest/categoria_naviglio.json
  assets/controlled-vocabularies/categoria_naviglio/v1.0/categoria_naviglio.csv
  assets/controlled-vocabularies/categoria_naviglio/v1.0/categoria_naviglio.json
  assets/controlled-vocabularies/settore_attività/latest/settore_attivita.csv
  assets/controlled-vocabularies/settore_attività/latest/settore_attivita.json
  assets/controlled-vocabularies/settore_attività/v1.0/settore_attivita.csv
  assets/controlled-vocabularies/settore_attività/v1.0/settore_attivita.json
  assets/controlled-vocabularies/sostanza_radioattiva/latest/sostanza_radioattiva.csv
  assets/controlled-vocabularies/sostanza_radioattiva/latest/sostanza_radioattiva.json
  assets/controlled-vocabularies/sostanza_radioattiva/v1.0/sostanza_radioattiva.csv
  assets/controlled-vocabularies/sostanza_radioattiva/v1.0/sostanza_radioattiva.json
  assets/controlled-vocabularies/tipo_apparecchio_rx/latest/tipo_apparecchio_rx.csv
  assets/controlled-vocabularies/tipo_apparecchio_rx/latest/tipo_apparecchio_rx.json
  assets/controlled-vocabularies/tipo_apparecchio_rx/v1.0/tipo_apparecchio_rx.csv
  assets/controlled-vocabularies/tipo_apparecchio_rx/v1.0/tipo_apparecchio_rx.json
  assets/controlled-vocabularies/tipo_polizza/latest/tipo_polizza.csv
  assets/controlled-vocabularies/tipo_polizza/latest/tipo_polizza.json
  assets/controlled-vocabularies/tipo_polizza/v1.0/tipo_polizza.csv
  assets/controlled-vocabularies/tipo_polizza/v1.0/tipo_polizza.json
  assets/controlled-vocabularies/tipo_qualifica/latest/tipo_qualifica.csv
  assets/controlled-vocabularies/tipo_qualifica/latest/tipo_qualifica.json
  assets/controlled-vocabularies/tipo_qualifica/v1.0/tipo_qualifica.csv
  assets/controlled-vocabularies/tipo_qualifica/v1.0/tipo_qualifica.json
Due: csvseparator

proc_17 upload
  assets/ontologies/proc17_artisan/v1.1/proc17_artisan.n3
  assets/ontologies/proc17_artisan/v1.1/proc17_artisan.owl
  assets/ontologies/proc17_dnl_temp/v1.1/proc17_dnl_temp.n3
  assets/ontologies/proc17_dnl_temp/v1.1/proc17_dnl_temp.owl
  assets/ontologies/proc17_employees/v1.1/proc17_employees.n3
  assets/ontologies/proc17_employees/v1.1/proc17_employees.owl
  assets/ontologies/proc17_fishermen/v1.1/proc17_fishermen.n3
  assets/ontologies/proc17_fishermen/v1.1/proc17_fishermen.owl
  assets/ontologies/proc17_radioactive_substances/v1.1/proc17_radioactive_substances.n3
  assets/ontologies/proc17_radioactive_substances/v1.1/proc17_radioactive_substances.owl
  assets/ontologies/proc17_schools/v1.1/proc17_schools.n3
  assets/ontologies/proc17_schools/v1.1/proc17_schools.owl
  assets/ontologies/proc17_seafarer/v1.1/proc17_seafarer.n3
  assets/ontologies/proc17_seafarer/v1.1/proc17_seafarer.owl
  assets/ontologies/proc17_volunteer/v1.1/proc17_volounteer.n3
  assets/ontologies/proc17_volunteer/v1.1/proc17_volounteer.owl
  assets/ontologies/proc17_xray/v1.1/proc17_xray.n3
  assets/ontologies/proc17_xray/v1.1/proc17_xray.owl
Due: none

core ontology update (v3.0)
  assets/ontologies/core/v3.0/core.n3
  assets/ontologies/core/v3.0/core.owl
  assets/ontologies/core/v3.0/core.ttl
Due: ttlfmt

update csv production
  assets/controlled-vocabularies/frame-short.yamlld
  requirements.txt
  scripts/create_csv_json.py
Due: none

update csv generation
  scripts/create_csv_json.py
Due: none

update frictionless_datapackage for csv creation
  scripts/frictionless_datapackage_csv.py
Due: none

manage optional field parent in csv
  scripts/create_csv_json.py
  scripts/frictionless_datapackage_csv.py
Due: none

update level column in csv generation
  scripts/create_csv_json.py
  scripts/frictionless_datapackage_csv.py
Due: none

core update
  assets/ontologies/core/latest/core.owl
  assets/ontologies/core/v3.0/core.owl
Due: none

index file update
  assets/schemas/denuncia-cessazione-polizza-scuole/latest/index.ttl
  assets/schemas/denuncia-cessazione-polizza-scuole/v1.0/index.ttl
Due: ttlfmt

index file update
  assets/schemas/denuncia-iscrizione-polizza-apparecchi-rx/latest/index.ttl
  assets/schemas/denuncia-iscrizione-polizza-apparecchi-rx/v1.0/index.ttl
Due: ttlfmt

index file update
  assets/schemas/apparecchio-rx/latest/apparecchio-rx.oas3.yaml
  assets/schemas/apparecchio-rx/latest/index.ttl
  assets/schemas/apparecchio-rx/v1.0/apparecchio-rx.oas3.yaml
  assets/schemas/apparecchio-rx/v1.0/index.ttl
Due: ttlfmt
